@mixin toggler() {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-color: rgb(34, 34, 34);
  border-radius: 50%;
  box-shadow:
    2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
    100px 100px 80px rgba(0, 0, 0, 0.07);

  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    background-image: url(~@img/chat.png);
    background-size: cover;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 50%;
    height: 50%;
    transition: opacity 500ms;
    opacity: 0.5;
    z-index: 2;
  }

}

.chat-block {
  background-color: rgb(38, 38, 40);
  display: flex;
  flex-direction: column;
  position: relative;

  &__login {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    box-shadow: 19px -1px 30px -17px rgba(0, 0, 0, 0.5) inset;
  }

  &__tools {
    position: fixed;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-top: 20px;
    width: 70px;
    height: 100%;
    z-index: 5;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    @include rwd($screen-pad-portrait) {
      padding-top: 10px;
      padding-right: 10px;
      padding-bottom: 10px;
    }
  }

  &__tools>*+* {
    margin-top: 20px;
  }

  &__toggler {
    @include toggler();
  }

  @include hasHover() {
    &__toggler:hover::before {
      opacity: 0.75;
    }
  }

  &__rotation-lock {
    @include toggler();
    transition: background-color 500ms, opacity 500ms;

    &:before {
      opacity: 0.5;
      background-image: url(~@img/rotation-lock.png);
    }

    &:after {
      opacity: 0.5;
      transition: opacity 500ms, transform 500ms;
      background-image: url(~@img/rotation-lock-n.svg);

    }

  }

  &__search-music-button {
    @include toggler();


    &:before {
      background-image: url(~@img/headphone.svg);
      background-size: cover;
      width: 90%;
      height: 73%;
      transform: scale(0.6);
      top: -10%;
      margin: auto;
    }

    &:after {
      display: none;
    }

    >* {
      position: absolute;
      transition: opacity 500ms;
      opacity: 0.5;
      left: 50%;
      top: 55%;
      transform: translate(-50%, -50%) scale(0.5);
    }


    svg {
      path:nth-child(1) {
        animation: bar1 .6s infinite alternate;
        transform: translateY(20%);
        animation-delay: 0.4s;
      }

      path:nth-child(2) {
        animation: bar2 .3s infinite alternate;
        animation-delay: 0.3s;
      }

      path:nth-child(3) {
        animation: bar3 .4s infinite alternate;
        transform: translateY(50%);
        animation-delay: 0.5s;
      }
    }


    @keyframes bar1 {
      0% {
        transform: translateY(40%);
      }

      100% {
        transform: translateY(0%);
      }
    }

    @keyframes bar2 {
      0% {
        transform: translateY(30%);
      }

      100% {
        transform: translateY(0%);
      }
    }

    @keyframes bar3 {
      0% {
        transform: translateY(60%);
      }

      100% {
        transform: translateY(0%);
      }
    }
  }


  &__rotation-lock--active {
    background-color: gray;
    opacity: 0.5;

    &:before {
      opacity: 0;
    }

    &:after {
      transform: rotate(-180deg)
    }

  }

  @include hasHover() {
    &__rotation-lock:hover {
      background-color: gray;
      opacity: 0.5;

      &:before {
        opacity: 0;
      }

      &:after {
        transform: rotate(-180deg)
      }
    }
  }

  @include hasHover() {
    &__search-music-button:hover {

      >*,
      &:before {
        opacity: 0.75;
      }
    }
  }


  &__search-music-button--active {

    >*,
    &:before {
      opacity: 0.75;
    }

  }

  &__header {
    flex: none;
    padding: 20px;
    box-shadow: -1px 3px 27px 0px rgba(0, 0, 0, 0.75);
  }

  &__body {
    flex: 1;
    overflow: auto;

    @include custom-scroll();
  }

  &__body-inner {
    padding: 20px 20px;

  }

  &__footer {
    flex: none;
    padding: 0 20px;
    box-shadow: 1px -7px 19px -4px rgba(0, 0, 0, 0.35);
  }

  &__input {
    @include rwd($screen-pad-portrait) {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  &__author {
    height: 50px;

    @include rwd($screen-pad-portrait) {
      padding-left: 10px;
      padding-right: 10px;
    }
  }


  &--active &__content {
    display: none;
  }

}

.user {
  display: flex;
  align-items: center;

  &__avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: opacity 500ms;
    opacity: 0.5;

    img {
      width: 100%;
    }
  }

  @include hasHover() {
    &__avatar:hover {
      opacity: 0.75;
    }
  }


  &__avatar+&__name {
    margin-left: 20px;
  }

  &__name {
    font-size: 1rem;
    color: transparentize($color: $white, $amount: 0.5);
    user-select: none;
    pointer-events: none;
  }

  &__logout {
    background-color: transparent;
    color: $white;
    font-weight: 400;
    margin-left: auto;
    font-size: 14px;
    padding: 10px;
    display: flex;
    align-items: center;
    opacity: 0.5;
    transition: opacity 500ms;
    border: 1px solid $white;
    border-radius: 5px;
    cursor: pointer;

    &:after {
      content: '';
      display: block;
      background-image: url(~@img/logout.svg);
      width: 20px;
      height: 20px;
      background-size: cover;
      margin-left: 15px;
    }

    @include hasHover() {
      &:hover {
        opacity: 0.75;
      }
    }

  }
}

.chat-main {
  position: relative;

  &--cube {
    @include gradient-border($border-width: 5px, $outer-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5));
    width: 420px;
    height: 420px;
    background: rgba(28, 28, 31, 0.25);

    &:before {
      animation: flickr 5000ms infinite forwards linear;
    }
  }

  &--cube &__inner {
    width: 100%;
    height: 100%;
    padding: 10px;
    overflow: auto;
    @include custom-scroll();
  }

  &__inner--overlay {
    position: absolute;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    top: 0;
    left: 0;
  }

  &__inner--hide {
    display: none;
  }

  &__inner &__login-guide,
  &__inner &__guest-list {
    height: 100%;
    width: 100%;
  }

  &__chat+&__chat {
    margin-top: 20px;
  }

  &--cube &__chat+&__chat {
    margin-top: 20px;
  }

  &__chat--other+&__chat:not(#{&}__chat--other),
  &__chat:not(#{&}__chat--other)+&__chat--other {
    margin-top: 40px;
  }





  &__chat {
    text-align: right;

    &--other {
      text-align: left;
    }
  }

  &__bubble-name {
    color: transparentize($white, 0.5);
    font-size: 14px;
    margin: 10px;
  }


  &__bubble {
    background: #bcbfc5;
    color: rgb(54, 54, 54);
    font-size: 15px;
    border-radius: 15px 15px 0px 15px;
    font-weight: 400;
    padding: 15px;
    max-width: 200px;
    width: 100%;
    text-align: left;
    display: inline-block;
    animation: bubble 500ms;
    transform-origin: 100% 0%;
    opacity: 0.75;
    transition: opacity 500ms;
    word-break: break-all;

    @include hasHover() {
      &:hover {
        opacity: 1;
      }
    }

  }

  &--cube &__bubble {
    background: transparent;
    border: 1px solid $white;
    color: $white
  }

  &__chat--other &__bubble {
    background: rgb(84, 67, 102);
    color: #c4c4c4;
    border-radius: 15px 15px 15px 0px;
    font-size: 15px;
    margin-right: 0;
    transform-origin: 0% 0%;
  }


  &--cube &__chat--other &__bubble {
    background: rgba(84, 67, 102, 0.5);
    color: $white;
    border-radius: 15px 15px 15px 0px;
    font-size: 15px;
    margin-right: 0;
    transform-origin: 0% 0%;
  }
}