// colors
$input-background: rgba(38, 38, 40, 0);
$input-text-inactive: #7881A1;
$input-text-active: #BFD2FF;


.input-block {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  border-radius: 2px;
  padding: 0.7rem 1.5rem 0.8rem 1rem;
  background: $input-background;

  &:after {
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 999;
    height: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background-position: 0% 0%;
    background: linear-gradient(to right, #B294FF, #57E6E6, #FEFFB8, #57E6E6, #B294FF, #57E6E6);
    background-size: 500% auto;
    animation: gradient 3s linear infinite;
    z-index: 1;
  }

  &__input {
    flex-grow: 1;
    color: $input-text-active;
    font-size: 1rem;
    line-height: 2.4rem;
    vertical-align: middle;
    border-style: none;
    background: transparent;
    outline: none;

    &::-webkit-input-placeholder {
      color: $input-text-inactive;
    }
  }

  &__button {
    vertical-align: middle;
    transition: color .25s;
    padding: 0;
    background: none;
    border: none;
    outline: none;
    opacity: 0.5;
    transition: opacity 500ms;
    cursor: pointer;
    font-size: 0;

    @include hasHover() {
      &:hover {
        opacity: 0.75;
      }
    }

  }
}