.img-replace {
    /* replace text with an image */
    display: inline-block;
    overflow: hidden;
    text-indent: 100%;
    color: transparent;
    white-space: nowrap;
}


/* -------------------------------- 

xpopup 

-------------------------------- */
.modal-prompt {
    @include modalBase();

    &__inner {
        position: relative;
        width: 90%;
        max-width: 400px;
        margin: 4em auto;
        background: #FFF;
        border-radius: .25em .25em .4em .4em;
        text-align: center;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        transform: translateY(-40px);
        backface-visibility: hidden;
        transition: transform 0.3s;

        p {
            padding: 3em 1em;
        }
    }

    &--active &__inner {
        transform: translateY(0);
    }



    &__buttons {
        user-select: none;
        display: flex;

        li {
            flex: 1;
            width: 50%;
            list-style: none;
        }

        a {
            display: block;
            height: 60px;
            line-height: 60px;
            text-transform: uppercase;
            color: #FFF;
            -webkit-transition: background-color 0.2s;
            -moz-transition: background-color 0.2s;
            transition: background-color 0.2s;
            text-decoration: none;
        }

        li:first-child a {
            background: #595959;
            border-radius: 0 0 0 .25em;
        }

        li:first-child a:hover {
            background-color: #656565;
        }

        li:last-child a {
            background: #9b9b9b;
            border-radius: 0 0 .25em 0;
        }

        li:last-child a:hover {
            background-color: #8d8d8d;
        }
    }
}

.modal-music-search {
    @include modalBase();

    &__inner {
        position: absolute;
        width: calc(100% - 40px);
        height: calc(100% - 100px);
        max-width: 1024px;
        max-height: 1024px;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(31, 31, 31, 0.8);
        border-radius: 20px;
        text-align: center;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        transform: translateY(-40px);
        backface-visibility: hidden;
        transition: transform 0.3s;
        display: flex;
        flex-direction: column;

    }

    &--active &__inner {
        transform: translateY(0);
    }

    &__inner &__close {
        background-color: rgb(42, 42, 42);
        height: 40px;
        width: 40px;
        right: 0;
        top: 0;
        transform: translate(30%, -30%);
        border-radius: 50%;

        &:before,
        &:after {
            background-color: #fff;
            height: 50%;
        }
    }

    &__header {}

    &__body {}


    &__inner &__header {
        flex: none;
    }

    &__inner &__body {
        flex: 1;
    }

}