$blue:#2196f3 !default;
$pink:#ec407a !default;
$red:#ef5350 !default;
$purple:#ab47bc !default;
$indigo:#5c6bc0 !default;
$teal:#26a69a !default;
$green:#66bb6a !default;
$yellow:#ffee58 !default;
$orange:#ffa726 !default;
$brown:#8d6e63 !default;
$grey:#bdbdbd !default;
$white:#ffffff !default;
$black:#000000 !default;
$lightblack:#495057 !default;


//functional
$text-color:$black !default;
$link-color:$blue !default;