<!DOCTYPE html>
<html lang="en">

<%- include('../template/head.ejs',{title:'3D Cube Chat'})%>

  <body>
    <div class="wrapper" id="wrapper">
      <div class="wrapper__inner">
        <div class="wrapper__canvas-block" id="canvas-block">
          <div class="wrapper__dom-canvas" id="dom-canvas"></div>
          <canvas class="wrapper__canvas" id="canvas"></canvas>
        </div>
        <div class="wrapper__chat-block chat-block " id="chat-block">
          <div class="chat-block__login login" id="login">
            <div class="login__dialog">
              <h1 class="login__title">Login</h1>
              <div class="login__form">
                <div class="login__user-box">
                  <div class="input-block">
                    <input type="text" id="login-name" class="input-block__input" placeholder="Your name">
                    <label>Username</label>
                  </div>
                </div>
                <button class="login__button" id="login-button">Start chat!</button>
              </div>
            </div>
          </div>
          <div class="chat-block__tools">
            <button class="chat-block__rotation-lock" id="rotation-lock"></button>
            <button class="chat-block__search-music-button" id="search-music-button">
              <div class="rhythm">
                <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                  <path class="bar1" fill="#fff" d="M14 2h3.984v18H14" />
                  <path class="bar2" fill="#fff" d="M8 20V2h3.984v18" />
                  <path class="bar3" fill="#fff" d="M2 20V2h3.984v18" />
                </svg>
              </div>
            </button>
            <button class="chat-block__toggler" id="chat-block-toggler"></button>
          </div>
          <div class="chat-block__header user">
            <div class="user__name" id="my-name">
              Mizok
            </div>
            <button class="user__logout" id="logout-button">Logout</button>
          </div>
          <div class="chat-block__body">
            <div class="chat-block__body-inner chat-main" id="chat-main">
              <!-- <div class="chat-main__chat ">
                <div class="chat-main__bubble">Hello There!</div>
              </div>
              <div class="chat-main__chat chat-main__chat--other">
                <div class="chat-main__bubble">Hello There!</div>
              </div> -->
            </div>
          </div>
          <div class="chat-block__footer">
            <div class="chat-block__input input-block">
              <input type="text" id="message-input" class="input-block__input" placeholder="Type something...">
              <button class="input-block__button" id="send-message-button">
                <img src="~@img/arrow.svg" alt="">
              </button>
            </div>
            <div class="chat-block__author author">
              <div class="author__former">
                &copy Mizok.H
              </div>
              <div class="author__latter">
                <a href="#" class="author__link">
                  <img src="~@img/github.svg" alt="">
                </a>
                <a href="#" class="author__link">
                  <img src="~@img/twitter.svg" alt="">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="dom-bundle" id="dom-bundle">
      <div class="chat-main chat-main--cube" id="chat-main-cube">
        <div class="chat-main__inner chat-main__inner--overlay" id="guest-list">
          <div class="chat-main__guest-list guest-list">
            <div class="guest-list__inner">
              <div class="guest-list__header">
                <h2 class="guest-list__title">Guest List</h2>
                <div class="guest-list__number" id="guest-number"></div>
              </div>
              <ul class="guest-list__ul" id="guest-list-container">
                <!-- <li class="guest-list__li guest">
                  <div class="guest__name"></div>
                </li> -->
              </ul>
            </div>
          </div>
        </div>
        <div class="chat-main__inner chat-main__inner--overlay" id="login-guide">
          <div class="chat-main__login-guide login-guide">
            <div class="login-guide__title">Login<br>First</div>
            <button class="login-guide__button" id="login-guide-button">LOGIN</button>
            <!-- <canvas class="login-guide__canvas" id="login-guide-canvas"></canvas> -->
          </div>
        </div>
        <div class="chat-main__inner" id="chat-main-inner">

        </div>
      </div>
      <div class="space-invader" id="space-invader">
      </div>
      <div class="music-player" id="music-player">
        <div class="music-player__img" id="music-player-img">
          <img>
        </div>
        <div class="music-player__inner">
          <div class="music-player__head">
            <div class="music-player__former">
              <button class="music-player__btn" id="music-player-button"></button>
            </div>
            <div class="music-player__latter">
              <div class="music-player__metadata">
                <div class="music-player__title" id="music-player-title">
                  <span></span>
                </div>
                <div class="music-player__descrp">
                  <div class="music-player__artist" id="music-player-artist">
                    <span></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="music-player__body">
            <div class="music-player__waveform" id="music-player-waveform"></div>
            <div class="music-player__credit-bar">
              <div class="music-player__brand">
                3D Cube Chat Music Player
              </div>
              <div class="music-player__credit">
                <a href="#" id="music-player-perma-link">
                  <img src="~@img/soundcloud-credit.png" alt="">
                </a>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="clock" id="clock">
        <div class="clock__date">
          <span id="mon">May</span>
          <span class="clock__space">&nbsp;</span>
          <span id="d">01</span>
          <span class="clock__colon">,</span>
          <span class="clock__space">&nbsp;</span>
          <span id="y">2022</span>
        </div>
        <div class="clock__time">
          <span class="clock__hour" id="h">00</span>
          <span class="clock__colon">:</span>
          <span class="clock__minute" id="m">00</span>
          <span class="clock__colon">:</span>
          <span class="clock__second" id="s">00</span>
        </div>
      </div>
    </div>
    <div class="modal-bundle">
      <div class="modal-music-search " role="music-search" id="modal-music-search">
        <div class="modal-music-search__inner">
          <a href="#0" class="modal-music-search__close img-replace" action="close">Close</a>
          <div class="modal-music-search__header">
            <div class="chat-block__input input-block">
              <input type="text" class="input-block__input" id="music-search-input"
                placeholder="Search on Soundcloud...">
              <button class="input-block__button" action="search">
                <img src="~@img/search.svg" alt="">
              </button>
            </div>
          </div>
          <div class="modal-music-search__body">
            <ul class="modal-music-search__ul" id="search-music-result">
            </ul>
            <div class="modal-music-search__no-result no-result">
              <div class="no-result__img">
                <img src="~@img/no-result.svg" alt="">
              </div>
              <div class="no-result__title">No Result Found.</div>
              <div class="no-result__descrp">
                I am sorry for what you're looking for.<br>Maybe try another keyword?
              </div>
            </div>
          </div>
        </div> <!-- modal-music-search-container -->
      </div> <!-- modal-music-search -->
      <div class="modal-prompt modal-prompt--alert" role="alert" id="modal-alert">
        <div class="modal-prompt__inner">
          <p></p>
          <ul class="modal-prompt__buttons">
            <li><a href="#0" action="close">OK</a></li>
          </ul>
          <a href="#0" class="modal-prompt__close img-replace" action="close">Close</a>
        </div> <!-- modal-prompt-container -->
      </div> <!-- modal-prompt -->

      <div class="modal-prompt modal-prompt--confirm" role="confirm" id="modal-confirm">
        <div class="modal-prompt__inner">
          <p></p>
          <ul class="modal-prompt__buttons">
            <li><a href="#0" action="yes">Yes</a></li>
            <li><a href="#0" action="no">No</a></li>
          </ul>
          <a href="#0" class="modal-prompt__close img-replace" action="close">Close</a>
        </div> <!-- modal-container -->
      </div> <!-- modal -->
    </div>
    <div class="music-iframe" id="music-iframe">
      <iframe width="1" height="0" scrolling="no" frameborder="no" allow="autoplay" id="soundcloud-iframe"
        src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1493033761"></iframe>
    </div>
  </body>

</html>