$chatWidth: 400px;
$chatWidthMobile: 300px;

.wrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;

  &__inner {
    display: flex;
    height: 100%;
    width: 100%;
    transform: none;
    transition: transform 500ms;
  }

  &--active &__inner {
    transform: translateX(-#{$chatWidth});

    @include rwd($screen-pad-portrait) {
      transform: translateX(-#{$chatWidthMobile});
    }
  }

  &__canvas-block {
    width: 100%;
    height: 100%;
    flex: none;
    position: relative;
    z-index: 2;
    overflow: hidden;
  }

  &--active &__canvas {
    transform: translateX(#{$chatWidth/2});

    @include rwd($screen-pad-portrait) {
      transform: translateX(#{$chatWidthMobile/2});
    }
  }

  &--active &__dom-canvas {
    transform: translateX(#{$chatWidth/2});

    @include rwd($screen-pad-portrait) {
      transform: translateX(#{$chatWidthMobile/2});
    }
  }

  &__canvas {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    transition: transform 500ms;
  }

  &__dom-canvas {
    transition: transform 500ms;
    position: relative;
    z-index: 2;

    .music-player {
      z-index: 4;
    }

    .chat-main {
      z-index: 3;
    }

    .clock {
      z-index: 2;
    }

    .space-invader {
      z-index: 1;
    }

  }

  &__chat-block {
    flex: none;
    width: $chatWidth;
    height: 100%;
    box-shadow: 19px -1px 30px -17px rgba(0, 0, 0, 0.5) inset;

    @include rwd($screen-pad-portrait) {
      width: $chatWidthMobile;
    }
  }
}

.dom-bundle {
  position: absolute;
  left: -1000vw !important;
  transform: translateZ(0);
  opacity: 0 !important;
  visibility: hidden !important;
  pointer-events: none !important;
  transform: translateZ(0) !important;
}