// gradient animation
@keyframes gradient {
  0% {
    background-position: 0 0
  }

  100% {
    background-position: 100% 0
  }
}


// bubble animation
@keyframes bubble {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}


@keyframes unlock {
  0% {
    opacity: 0;
    transform: rotation(-90deg);
  }

  100% {
    opacity: 0.5;
    transform: rotation(0deg);
  }
}


@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}


@keyframes btn-anim2 {
  0% {
    top: -100%;
  }

  50%,
  100% {
    top: 100%;
  }
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }

  50%,
  100% {
    right: 100%;
  }
}


@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }

  50%,
  100% {
    bottom: 100%;
  }
}