@import 'util/main';

html,
body {
  height: 100%;

  .wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

@import './abstract/mixin';
@import './abstract/keyframe';
@import './layout/layout';
@import './components/chat-block';
@import './components/input-block';
@import './components/author';
@import './components/space-invader';
@import './components/clock';
@import './components/login';
@import './components/login-guide';
@import './components/guest-list';
@import './components/music'