@import 'util/main';

html,
body {
  height: 100%;
  .wrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

@import './abstract/keyframe';
@import './layout/layout';
@import './components/chat-block';
@import './components/input-block';
@import './components/author';

